USE [master]
GO
/****** Object:  Database [ELARA]    Script Date: 16/11/2019 15:41:16 ******/
CREATE DATABASE [ELARA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ELARA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SERVERCHARLY\MSSQL\DATA\ELARA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ELARA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SERVERCHARLY\MSSQL\DATA\ELARA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ELARA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ELARA]
GO
USE [ELARA]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 16/11/2019 15:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[BitacoraID] [int] IDENTITY(1,1) NOT NULL,
	[NombreOperacion] [varchar](120) NOT NULL,
	[Descripcion] [varchar](120) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Criticidad] [int] NOT NULL,
	[FechayHora] [datetime] NOT NULL,
	[DVH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BitacoraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 16/11/2019 15:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[IdiomaID] [int] NOT NULL,
	[Descripcion] [varchar](8) NOT NULL,
	[Seleccionado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdiomaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERACION]    Script Date: 16/11/2019 15:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERACION](
	[OperacionID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[PatenteEscencial] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OperacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerfilOperacion]    Script Date: 16/11/2019 15:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilOperacion](
	[OperacionID] [int] NULL,
	[PerfilUsuarioID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerfilUsuario]    Script Date: 16/11/2019 15:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilUsuario](
	[PerfilUsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[NombrePerfil] [varchar](50) NOT NULL,
	[DescPerfil] [varchar](50) NOT NULL,
	[DVH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PerfilUsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 16/11/2019 15:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](80) NOT NULL,
	[Clave] [varchar](120) NOT NULL,
	[Nombre] [varchar](90) NOT NULL,
	[Apellido] [varchar](90) NOT NULL,
	[DNI] [int] NULL,
	[Email] [varchar](70) NOT NULL,
	[Habilitado] [bit] NOT NULL,
	[FlagIntentosLogin] [int] NOT NULL,
	[DVH] [varchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuariooperacion]    Script Date: 16/11/2019 15:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuariooperacion](
	[UsuarioID] [int] NOT NULL,
	[OperacionID] [int] NOT NULL,
	[Habilitado] [varchar](2) NOT NULL,
	[DVH] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PerfilUsuario] ADD  DEFAULT ((0)) FOR [DVH]
GO
ALTER TABLE [dbo].[PerfilOperacion]  WITH CHECK ADD FOREIGN KEY([OperacionID])
REFERENCES [dbo].[OPERACION] ([OperacionID])
GO
ALTER TABLE [dbo].[PerfilOperacion]  WITH CHECK ADD FOREIGN KEY([PerfilUsuarioID])
REFERENCES [dbo].[PerfilUsuario] ([PerfilUsuarioID])
GO
ALTER TABLE [dbo].[usuariooperacion]  WITH CHECK ADD FOREIGN KEY([OperacionID])
REFERENCES [dbo].[OPERACION] ([OperacionID])
GO
ALTER TABLE [dbo].[usuariooperacion]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
/****** Object:  StoredProcedure [dbo].[RealizarBackup]    Script Date: 16/11/2019 15:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RealizarBackup] 
@PATH1 nchar(400),
@PATH2 nchar(400),
@PATH3 nchar(400)
AS
BEGIN
BACKUP DATABASE ELARA
TO DISK = @PATH1,
DISK = @PATH2,
DISK = @PATH3
END

GO
/****** Object:  StoredProcedure [dbo].[RealizarBackup3Partes]    Script Date: 16/11/2019 15:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RealizarBackup3Partes] 
@PATH1 nchar(400),
@PATH2 nchar(400),
@PATH3 nchar(400)
AS
BEGIN
BACKUP DATABASE ELARA
TO DISK = @PATH1,
DISK = @PATH2,
DISK = @PATH3
END

GO
/****** Object:  StoredProcedure [dbo].[SumarFlagIntentos]    Script Date: 16/11/2019 15:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* ******************
**STORES PROCEDURES**
******************* */
CREATE PROCEDURE [dbo].[SumarFlagIntentos] 
@usuid int
AS

declare @flag int = 0;
BEGIN

  select @flag = FlagIntentosLogin
   from usuario
   where UsuarioID= @usuid
  select @flag = @flag +1;
   update usuario set FlagIntentosLogin = @flag
   where UsuarioID = @usuid
END

/* ******************
**ALGUNOS INSERTS**
******************* */
GO
USE [master]
GO
